@import "./components/mainPage.css";
@import "./components/cards.css";

header {
    padding: 15px 0px 15px 0px;
    background-color: black;
}

#logo {
    background-color: white;
    background: url("../../public/weather-white.png") no-repeat;
    width: 50px;
    height: 50px;
    float: left;
}

#main_h {
    text-decoration: none;
}

#header_dropdown {
    margin-top: 10px;
}

footer {
    margin-top: 60px;
    margin-bottom: 50px;
}

.main_content {   
    padding: 0 20px;
    background-color: white;

    justify-content: center;
    align-items: center;
}

#main_title {
    padding-bottom: 25px;
    padding-top: 20px;
}

h2 {
    padding-bottom: 25px;
    padding-top: 20px;
}

.add_button {
    margin-top: 15px;
}

#filter {
    margin-bottom: 16px;
}

#page404_title {
    margin-top: 25px;
}

.actual_weather {   
    padding: 20px 100px 20px 100px;
}

.average_weather {   
    padding: 30px 100px 30px 100px;
}

.content {   
    padding: 20px 100px 20px 100px;
}

.accordion-header {   
    padding: 1px;
}

.temperature {   
    margin: 0px;
}

@media (max-width: 768px) {
    .text-sm-center {
        text-align: center;
    } 
}